.card {
  border: none;
}
.card-body {
  display: flex;
  align-items: flex-start;
}
.card-body img {
  margin-right: 5px;
}
@media (min-width: 689px) {
  .card-deck {
    display: flex;
    flex-flow: column wrap;
  }
}
