.itemCard img {
  height: 250px;
  width: auto;
  border-radius: 50%;
}
.itemCard {
  height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
/* .itemCard h5 {
  color: rgb(243, 8, 192);
} */
.itemCard:hover {
  box-shadow: 5px 5px 20px darkgray;
}
.route-link {
  color: gray;
  text-decoration: inherit;
}

.route-link:hover {
  color: #000;
  text-decoration: inherit;
}
