.footer-container {
  color: #fff;
  width: 80vw;
  height: 300px;
  background-color: black;
  padding: 20px;
}
.footer-icon {
  width: 100%;
}
.upper-left {
  flex: 3;
}
.upper-right {
  flex: 10;
  padding-top: 50px;
}
li {
  list-style: none;
}
.bottom-right li {
  padding-right: 30px;
}
