.linkCategory {
  border: none;
  color: gray;
  background-color: inherit;
  margin: 5px 15px;
  padding: 5px;
}
.active,
.linkCategory:hover {
  color: #f5072a;
  text-decoration: none;
  border-bottom: 3px solid #f5072a;
  box-shadow: 5px 5px 10px lightgray;
}
